@import './colors';

.Body-songAttributeContainer {
  width: 90%;
  min-width: 600px;
  margin: 20px auto;
}

.Body-generateButtonContainer {
  width: 81.35%;
  min-width: 300px;
  margin: 0 auto;
  text-align: right;
}