@import './colors';

.Body-songAttributeContainer {
  width: 80%;
  min-width: 300px;
  height: 600px;
  margin: 20px auto;
  padding: 7px;
  overflow-y: scroll;
  border: 5px solid $electric-blue;
}

.Body-generateButtonContainer {
  width: 81.35%;
  min-width: 300px;
  margin: 0 auto;
  text-align: right;
}