@import './colors';

.Body-songAttributeContainer {
  width: 90%;
  min-width: 600px;
  margin: 20px auto;
}

.Body-buttonsContainer {
  width: 81.35%;
  min-width: 300px;
  margin: 0 auto;
  text-align: right;
}

.Body-possibilitiesButtonContainer {
  display: inline-block;
  margin-right: 60px;
}

.Body-possibilitiesNumber {
  color: $white;
  margin-right: 5px;
}