@import './colors';

.ProgressionatorRoot-select {
  color: $electric-blue !important;
  border-bottom: 1px solid $electric-blue;
}

.ProgressionatorRoot-select:hover:before {
  border-bottom: 2px solid $electric-blue !important;
}

.ProgressionatorRoot-select svg {
  color: $electric-blue;
}

.ProgressionatorRoot-scaleNotes {
  text-align: center;
}

.ProgressionatorRoot-chordNames {
  margin-top: 20px !important;
  text-align: center;
}

.ProgressionatorRoot-scaleNotes span {
  color: $black;
  font-size: 20px;
  font-weight: bold;
}

.ProgressionatorRoot-chordContainer {
  color: $black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid $black;
  border-radius: 4px;
  cursor: pointer;
}

.ProgressionatorRoot-scalePlayButton {
  cursor: pointer;
  margin-top: 2px;
}

.ProgressionatorRoot-chordSlot {
  width: 80px;
  min-height: 50px;
  border: 2px dashed $black;
  margin: 0 auto;
  cursor: pointer;
}