.StartASongRoot-itemContainer {
  max-width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.StartASongRoot-gridContainer {
  max-width: 1000px;
  margin: 30px auto 0 auto !important;
}

.StartASongRoot-paper {
  padding: 20px;
}